<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="WaterConnectionString" value="server=172.16.250.170;database=qncwWater_qncw20220722;uid=sa;pwd=gmsq790;Max Pool Size=10;Min Pool Size=3;Connect Timeout=33900" />
		<add key="ELCConnectionString" value="server=172.16.250.170;database=ElectronicCoupons_qncw20220722;uid=sa;pwd=gmsq790;Max Pool Size=10;Min Pool Size=3;Connect Timeout=33900" />
	</appSettings>
</configuration>